<ul>
  <li><a pageScroll [pageScrollSpeed]="3000" href="#profile">
    <i class="fa fa-user"></i>
    <span>Qui suis-je ?</span>
  </a></li>
  <li><a pageScroll [pageScrollSpeed]="3000" href="#skills">
    <i class="fa fa-tasks"></i>
    <span>Compétences</span>
  </a></li>
  <li><a pageScroll [pageScrollSpeed]="3000" href="#experiences">
    <i class="fa fa-briefcase"></i>
    <span>Expériences</span>
  </a></li>
  <li><a pageScroll [pageScrollSpeed]="3000" href="#education">
    <i class="fa fa-book"></i>
    <span>Formation</span>
  </a></li>
  <li><a pageScroll [pageScrollSpeed]="3000" href="#portfolio">
    <i class="fa fa-folder-open"></i>
    <span>Portfolio</span>
  </a></li>
  <li><a pageScroll [pageScrollSpeed]="3000" href="#hobbies">
    <i class="fa fa-heart"></i>
    <span>Loisirs</span>
  </a></li>
  <li (click)="download()"><a>
    <i class="fa fa-download"></i>
    <span>Télécharger en PDF</span>
  </a></li>
</ul>