:host {
    display: block;
    background: rgba(29, 29, 29, 0.89);
    padding: 20px 30px;
    margin: 0;
    color: white;
}

h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0; padding: 0;
}

i {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    padding: 0 10px;
}